<div class="container">
    <div class="navbar">
        <h1>ChatZ </h1>
        <h2>Welcome, {{ user?.name }}</h2>
        <button class="navbar-button" (click)="onLogout()">Logout</button>
    </div>


    <div class="user-chat">

        <div class="content">
            <span *ngIf="userList">
                <table>
                    <thead>
                        <tr *ngFor="let users of userList">
                            <th class="tab">
                                <a [routerLink]="['convo', users.userId]">{{ users.name }}</a>
                            </th>
                        </tr>
                    </thead>
                </table>

            </span>
        </div>

        <div class="router-outlet">
            <router-outlet></router-outlet>
        </div>

    </div>
</div>