
  .content {
    background-color: rgb(33, 172, 177);
    padding: 20px;
    width: 15%;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    /* align-items: center; */

  }
  
  .router-outlet {
   
    background-color: #233a34; 
    padding: 20px;
    width: 80%; 
    height: 68vh;
    overflow-y: scroll;
  }
  .user-chat{
    display: flex;
    
     
  }
  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(9, 60, 226);
  }
  .navbar button{
    padding: 20px;
    background-color: rgb(37, 135, 226);
    border: none;
    color: white;
  }
  a{
    text-decoration: none;
    font-size: 20px;
    color: white;
  }
  .tab{
    background-color: rgb(20, 208, 214);
    width: 300px;
    padding: 10px;
    
  }
  